<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="testModel"
		class="com.demo.model.TestModel">
		<property name="userName">
			<value>${testmodel.username}</value>
		</property>
	</bean>
	
	<bean id="testModel2"
		class="com.demo.model.TestModel">
		<property name="userName">
			<value>rita</value>
		</property>
	</bean>

	<bean id="abstractTestModel"
		class="com.demo.model.TestModel"
		abstract="true">
		<property name="userName">
			<value>abstractName</value>
		</property>		
		<property name="nickName">
			<value>abstractNick</value>
		</property>			
	</bean>

	<bean id="child1"
		parent="abstractTestModel">
		<property name="userName">
			<value>${testmodel.username}</value>
		</property>
	</bean>

	<bean id="child2"
		parent="abstractTestModel">
		<property name="userName">
			<value>${db.2.writeUser}</value>
		</property>
	</bean>

	<bean id="childs"
		class="com.demo.model.TestList">
		<property name="data">
			<array>
				<ref bean="child1" />
				<ref bean="child2" />
			</array>
		</property>
	</bean>
  	
	<bean id="constructorChilds"
		class="com.demo.model.TestList">
		<constructor-arg ref="child1" />
	</bean>	
</beans>
